attrs==25.4.0
certifi==2026.2.25
cffi==2.0.0
cfgrib==0.9.15.1
charset-normalizer==3.4.6
click==8.3.1
eccodes==2.46.0
eccodeslib==2.46.1.14
eckitlib==2.0.3.14
ecmwf-opendata==0.3.26
fckitlib==0.14.2.14
findlibs==0.1.2
h5py==3.16.0
idna==3.11
multiurl==0.3.7
numpy==2.4.3
packaging==26.0
pandas==3.0.1
pillow==12.1.1
pycparser==3.0
pyproj==3.8.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
requests==2.32.5
scipy==1.17.1
six==1.17.0
tqdm==4.67.3
urllib3==2.6.3
xarray==2026.2.0
